<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Case_Generator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Case_Generator.My.MySettings>
            <setting name="isRemoveKeysEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isToolTipsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isAutoGenerationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Case_Generator.My.MySettings>
    </userSettings>
</configuration>
